{% extends 'layouts/base.html' %}

{% block title %}Корзина{% endblock title %}

{% block content %}
{% load static %}
<script src="{% static 'js/orders.js' %}"></script>

<div id="cart-box">
    <table width="100%">
        <thead>
            <tr>
                <th>Выбрать</th>
                <th>Фото</th>
                <th>Наименование</th>
                <th>Продукт</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>
                    <input id="product-checkbox" type="checkbox"></input>
                </td>
                <td>
                    <div class="product-img">
                        <img src="/media/{{ order.product.picture }}" style="height: 170px">
                    </div>
                </td>
                <td>{{ order.title }}</td>
                <td>{{ order.product.title }}</td>
                <td>{{ order.product.price }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-success" disabled>Детали</button>
                        <button id="delete-product" class="btn btn-sm btn-danger" disabled>Удалить</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    #cart-box {
        border: 1px solid silver;
        border-radius: 15px;
        padding: 20px;
        margin-top: -30px;
        box-shadow: 0px 10px 40px silver;
    }

    #cart-box th,
    #cart-box td {
        text-align: center;
        padding: 5px;
    }

    #cart-box th {
        background-color: rgb(241, 241, 241);
        padding: 20px;
    }

    #cart-box tr {
        border-bottom: 1px solid silver;
    }

    .btn {
        border: 5px solid white;
        border-radius: 50px;
    }

    .btn-success{
        color: greenyellow;
    }
</style>
{% endblock content %}